<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iOS</key>
	<array>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios1.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios1.png?dl=0</string>
			<key>videoDetails</key>
			<string>Getting ready to develop iOS apps…takes some preparation.…Apple is strict about hardware and software requirements…for your developer devices.…If you don&apos;t set up correctly,…you won&apos;t even be able to compile your Xamarin app,…much less test it on your new devices</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios2.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios2.png?dl=0</string>
			<key>videoDetails</key>
			<string>This is fun and lets you learn about the process.…If you are serious about distributing or selling your apps,…you really should consider buying at least one iOS device</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios3.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios3.png?dl=0</string>
			<key>videoDetails</key>
			<string>Learn how to create the neccessary sign certificates and mobile provisioning files needed by Apache Cordova and PhoneGap in order to create development and deployment versions of your mobile applciation.</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios4.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios4.png?dl=0</string>
			<key>videoDetails</key>
			<string>Getting ready to develop iOS apps…takes some preparation.…Apple is strict about hardware and software requirements…for your developer devices.…If you don&apos;t set up correctly,…you won&apos;t even be able to compile your Xamarin app,…much less test it on your new devices</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios5.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/ios/ios5.png?dl=0</string>
			<key>videoDetails</key>
			<string>This is fun and lets you learn about the process.…If you are serious about distributing or selling your apps,…you really should consider buying at least one iOS device</string>
		</dict>
	</array>
	<key>Android</key>
	<array>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android1.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android1.png?dl=0</string>
			<key>videoDetails</key>
			<string>This course is designed to help you get started building apps for mobile devices that run the Android operating system.</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android2.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android2.png?dl=0</string>
			<key>videoDetails</key>
			<string>Android mobile app development in Dreamweaver is available for both Mac and Windows users.…You&apos;ll need Mac 10.5.8 or later and if you&apos;re on Windows XP, Vista or Windows 7. Android mobile app development in Dreamweaver is available for both Mac and Windows users.…You&apos;ll need Mac 10.5.8 or later and if you&apos;re on Windows XP, Vista or Windows 7. </string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android3.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android3.png?dl=0</string>
			<key>videoDetails</key>
			<string>This course shows you how to create datacentric apps for Android devices, using SQLite, Java, and the built-in android.database packages.</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android4.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android4.png?dl=0</string>
			<key>videoDetails</key>
			<string>Android mobile app development in Dreamweaver is available for both Mac and Windows users.…You&apos;ll need Mac 10.5.8 or later and if you&apos;re on Windows XP, Vista or Windows 7. </string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android5.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/android/android5.png?dl=0</string>
			<key>videoDetails</key>
			<string>This course shows you how to create datacentric apps for Android devices, using SQLite, Java, and the built-in android.database packages.</string>
		</dict>
	</array>
	<key>PhoneGap</key>
	<array>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap1.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap1.png?dl=0</string>
			<key>videoDetails</key>
			<string>PhoneGap and its open-source sister Apache Cordova simplify cross-platform app development. You can code an app once, and then compile it to run anywhere: iOS, Android, or Windows Phone.</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap2.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap2.png?dl=0</string>
			<key>videoDetails</key>
			<string>See how PhoneGap, an open-source framework, and PhoneGap Build, a service in the Adobe Creative Cloud, allow you to create cross-platform mobile apps using the web technologies you know and love: HTML, CSS, and JavaScript.</string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap3.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap3.png?dl=0</string>
			<key>videoDetails</key>
			<string>PhoneGap Build is the cloud-based version, which allows you to take apps built with HTML, CSS, and JavaScript and compile them into native, store-ready mobile apps. All without any SDKs. PhoneGap Build is the cloud-based version, which allows you to take apps built with HTML, CSS, and JavaScript and compile them into native, store-ready mobile apps. All without any SDKs. </string>
		</dict>
		<dict>
			<key>videoUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap4.mp4?dl=0</string>
			<key>imageUrl</key>
			<string>http://www.kapsolutions.in/atul/poc_video/phonegap/phonegap4.png?dl=0</string>
			<key>videoDetails</key>
			<string>PhoneGap and its open-source sister Apache Cordova simplify cross-platform app development. You can code an app once, and then compile it to run anywhere: iOS, Android, or Windows Phone.</string>
		</dict>
	</array>
</dict>
</plist>
